{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block extrahead %}
    <script>
        $(document).ready(function(){
            $("#personalform").hide();


        $("#edit").click(function(){
            $("#personalinfo").hide();
            $("#personalform").show();
        });

        $("#save").click(function(){
            $("#personalform").hide();
            $("#test4a").value($("#test3a").value);
          });
        });
    </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <!--<div id="content-main" class="container-fluid">-->
        <div class="row col-md-12">

            <div class="col-md-4">
                <div class="panel panel-default">
            		<div class="panel-heading">Personal Information</div>

            		    <form role="form" id="personalform">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="username" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <button id="save" type="submit" class="btn btn-default">Save</button>
                        </form>

                        {% load static %}
                        <table id="personalinfo">
                            <p id="profile_picture">Profile Picture: {{ user.userprofile.picture }}
                                <img src = "{{ user.userprofile.picture }}" />
                            </p>
                            <p id="username">Username: {{user.username}}</p>
                            <p id="email">Email: {{user.email}}</p>
                            <button id="edit" type="submit" class="btn btn-default">Edit</button>
                        </table>

                    </div>
                </div>
            </div>


                {% if app_list %}
                    {% for app in app_list %}
                        <div class="col-md-4">
                            <div class="panel panel-default">
                            	<div class="panel-heading">{{ app.app_label }} Apps</div>
                                    {% for model in app.models %}
                            		    <table class="table">
                                            <tr class="model-{{ model.object_name }}">
                                            {% if model.admin_url %}
                                                <th><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                            {% else %}
                                                <th>{{ model.name }}</th>
                                            {% endif %}

                                            {% if model.add_url %}
                                                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                            {% else %}
                                                <td>&nbsp;</td>
                                            {% endif %}

                                            {% if model.admin_url %}
                                                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                            {% else %}
                                                <td>&nbsp;</td>
                                            {% endif %}
                                            </tr>
                                        </table>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>{% trans "You don't have permission to edit anything." %}</p>
                {% endif %}

            <div class="col-md-4 panel panel-default">
                {% load socialaccount %}


                <a href="{% provider_login_url "twitter" %}">Twitter</a>
            </div>


<!--
            <div class="col-md-4 panel panel-default">
                <div class="panel-heading">Profile info</div>
                <p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>
                <button id="btn3">Set Value</button>
            </div>
-->


        </div>
    <!--</div>-->
{% endblock %}


{% block sidebar %}
<!--
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
-->
{% endblock %}
