/*.well{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
*/

table, th, td {
    width: 100%;
    text-align: left;
}

/*
.panel{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.accordion{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.panel panel-default {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.panel-collapse collapse {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.panel-collapse {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
*/