{% load admin_static %}{% load firstof from future %} {% block extrastyle %}{% endblock %} {% if LANGUAGE_BIDI %}{% endif %} {% block extrahead %}{% endblock %} {% block blockbots %}{% endblock %} {% load i18n %}
{% if not is_popup %}
{% block branding %}{% endblock %}
{% if user.is_active and user.is_staff %}
{% trans 'Welcome,' %} {% firstof user.get_short_name user.get_username %}. {% block userlinks %} {% url 'django-admindocs-docroot' as docsroot %} {% if docsroot %} {% trans 'Documentation' %} / {% endif %} {% if user.has_usable_password %} {% trans 'Change password' %} / {% endif %} {% trans 'Log out' %} {% endblock %}
{% endif %} {% block nav-global %}{% endblock %}
{% block breadcrumbs %}
{% trans 'Home' %} {% if title %} › {{ title }}{% endif %}
{% endblock %} {% endif %} {% block messages %} {% if messages %}
{% for message in messages %} {{ message|capfirst }} {% endfor %}
{% endif %} {% endblock messages %}
{% block pretitle %}{% endblock %} {% block content_title %}{% if title %}
{{ title }}

{% endif %}{% endblock %} {% block content %} {% block object-tools %}{% endblock %} {{ content }} {% endblock %} {% block sidebar %}{% endblock %}
{% block footer %}
{% endblock %}